@import "tailwindcss";

:root {
  --background: #FFF7F7;
  --foreground: #171717;

  --blue-100: #6DAAB0;
  --blue-200: #004D62;

  --chili-pepper-100: #D8C1C0;
  --chili-pepper-200: #EDC8C3;
  --chili-pepper-300: #CF7D7D;
  --chili-pepper-400: #C21514;
  --chili-pepper-500: #610504;

  --greyish-green-100: #A7B8A8;
  --greyish-green-200: #536255;

  --off-white-100: #FFF8F7;

  --gray-100: #FFF7F7;
  --gray-200: #EAEAEA;
  --gray-300: #5A5A5A;
  --gray-400: #3D3D3D;

  --beige-100: #FFE6DB;
  --beige-200: #FFD5C3;
  --beige-300: #EDBCA8;

  --brown-100: #534342;
  --brown-200: #2D1415;

}

/* Tailwind CSS v4 directive; suppress generic CSS linter warnings. */
/* stylelint-disable-next-line at-rule-no-unknown */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-dm-sans: var(--font-dm-sans);
  --font-42dot: var(--font-42dot-local);
  --font-sansita-one: var(--font-sansita-one-local);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);

  --color-chili-pepper-100: var(--chili-pepper-100);
  --color-chili-pepper-200: var(--chili-pepper-200);
  --color-chili-pepper-300: var(--chili-pepper-300);
  --color-chili-pepper-400: var(--chili-pepper-400);
  --color-chili-pepper-500: var(--chili-pepper-500);

  --color-greyish-green-100: var(--greyish-green-100);
  --color-greyish-green-200: var(--greyish-green-200);

  --color-off-white-100: var(--off-white-100);

  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);

  --color-beige-100: var(--beige-100);
  --color-beige-200: var(--beige-200);
  --color-beige-300: var(--beige-300);

  --color-brown-100: var(--brown-100);
  --color-brown-200: var(--brown-200);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
